@model IEnumerable<Comp2084_Assignment2.Models.AuctionItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h2>Your Auction Items</h2>

    <p>
        @Html.ActionLink("Create New Auction Item", "Create")
    </p>
    @foreach (var item in Model)
    {

        <div class="panel panel-info">
            <div class="panel-body">
                <div class="col-md-3 col-lg-3" align="center">
                    <img alt="Character Pic" src="@Url.Content(item.pic)" class="img-responsive">
                </div>
                <div class="col-md-9 col-lg-9">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.title)</td>
                                <td>@Html.DisplayFor(modelItem => item.title)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.description)</td>
                                <td>@Html.DisplayFor(modelItem => item.description)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.price_expected)</td>
                                <td>@Html.DisplayFor(modelItem => item.price_expected)</td>
                            </tr>
                            <tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.time_created)</td>
                                <td>@item.time_created.Value.ToString("f")</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.profit)</td>
                                <td>@Html.DisplayFor(modelItem => item.profit)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-footer">
                @Html.ActionLink("Edit", "Edit", new { id = item.item_id }, new { @class = "btn btn-warning"}) |
                @Html.ActionLink("Details", "Details", new { id = item.item_id }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.item_id }, new { @class = "btn btn-danger" })
            </div>
        </div>
    }
</div>